*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 160em) {
    html {
      font-size: 120%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }
  @media only screen and (max-width: 56.25em) and (orientation: landscape) {
    html {
      margin-right: -55em; } }
  @media only screen and (max-width: 87em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 30%; } }

body {
  box-sizing: border-box;
  font-family: "Rosario", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #777;
  background-color: #eee; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@media only screen and (max-width: 56.25em) {
  .body-wrap {
    position: relative; } }

.content-wrap {
  margin-left: 37.5em; }
  @media only screen and (max-width: 56.25em) {
    .content-wrap {
      top: 0;
      left: 0;
      margin-top: 55vh;
      margin-left: 0; } }
  @media only screen and (max-width: 51.875em) and (orientation: landscape) {
    .content-wrap {
      margin-left: 37.5em; } }

.h1 {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  @media only screen and (max-width: 56.25em) and (orientation: landscape) {
    .h1 {
      margin-top: 10em; } }
  .h1-name {
    display: block;
    font-size: 3rem; }
    @media only screen and (max-width: 56.25em) and (orientation: landscape) {
      .h1-name {
        font-size: 3em; } }
    @media only screen and (max-width: 56.25em) {
      .h1-name {
        font-size: 3em; } }
  .h1-subtext {
    display: block;
    font-size: 0.2rem;
    font-weight: 700; }

.h2 {
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #55beff, #0410b6);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .h2 {
      font-size: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .h2 {
      font-size: 6rem; } }
  .h2-name {
    display: block;
    font-family: "Rosario", sans-serif;
    font-size: 1.5rem;
    font-weight: 200; }

.h3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media only screen and (min-width: 160em) {
    .h3 {
      font-size: 1.8rem; } }
  @media only screen and (min-width: 112.5em) {
    .h3 {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 66em) {
    .h3 {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .h3 {
      font-size: 4rem; } }

@media only screen and (max-width: 87em) {
  .h3-lg {
    font-size: 1.5rem; } }

@media only screen and (max-width: 56.25em) {
  .h3-lg {
    font-size: 3rem; } }

@media only screen and (max-width: 56.25em) and (orientation: landscape) {
  .h3-lg {
    font-size: 4rem; } }

.h1, .h2, .h3, .h3-lg {
  font-family: "Acme", sans-serif;
  font-weight: 700;
  line-height: 1.7; }

#size {
  font-size: 1.2rem !important;
  margin-top: 15%; }
  @media only screen and (max-width: 56.25em) {
    #size {
      font-size: 2.5rem !important;
      margin-top: 0; } }

p {
  font-size: 2rem;
  padding: 3rem; }
  @media only screen and (min-width: 112.5em) {
    p {
      font-size: 3rem; } }
  @media only screen and (min-width: 160em) {
    p {
      font-size: 5rem; } }
  @media only screen and (max-width: 87em) {
    p {
      font-size: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    p {
      font-size: 2.8rem; } }

.pro-info {
  font-size: 2.5rem;
  padding: 3rem; }

.list {
  font-size: 2.25rem;
  margin-left: 20%; }

.txt-link:link, .txt-link:visited {
  color: #0410b6;
  text-decoration: none;
  display: inline-block; }

.txt-link:hover, .txt-link:active {
  color: #55beff; }

.btn {
  margin-top: 5%;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: 10px solid;
  border-image: linear-gradient(45deg, #55beff, #0410b6) 1;
  background-color: transparent;
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  /* &.color-9 {
        background-image: linear-gradient(to right, $blue-light, $blue-prim, #04befe, $blue-dark);

    }*/
  --hover: white; }
  @media only screen and (min-width: 160em) {
    .btn {
      width: 16vw;
      height: 8vh;
      font-size: 2.5em;
      border-radius: 100px; } }
  @media only screen and (min-width: 112.5em) {
    .btn {
      width: 300px;
      height: 85px;
      font-size: 30px;
      margin-top: 30vh; } }
  @media only screen and (max-width: 56.25em) and (orientation: landscape) {
    .btn {
      font-size: 3rem;
      width: 30rem;
      height: 7rem; } }
  @media only screen and (max-width: 87em) {
    .btn {
      padding: 2vh;
      width: 200px;
      height: 64px; } }
  @media only screen and (max-width: 56.25em) {
    .btn {
      width: 200px;
      height: 48px;
      padding-top: 1vh; } }
  @media only screen and (max-width: 37.5em) {
    .btn {
      padding: 1vh;
      margin: 0vw;
      margin-top: 28vh; } }
  .btn-links:link, .btn-links:visited {
    font-size: 2rem;
    color: yellow;
    text-decoration: none; }
    @media only screen and (max-width: 56.25em) {
      .btn-links:link, .btn-links:visited {
        font-size: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .btn-links:link, .btn-links:visited {
        font-size: 4rem; } }
  .btn-link:link, .btn-link:visited {
    font-size: 5rem;
    background-color: black;
    color: #2c98fd;
    text-decoration: none;
    padding: 0.3em; }
  .btn:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #fff; }
  .btn:focus {
    outline: none; }
  .btn-icon {
    color: #2c98fd;
    padding-right: 0.3em; }
  .btn.pulse:hover, .btn.pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
    color: #fff; }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover); } }

.pulse {
  --color: #0878e0;
  --hover: #0854e0; }

button {
  color: var(--color);
  transition: 0.25s; }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #fff; }

.row-btn {
  display: grid; }

.div-btn {
  margin: auto; }

.cen-text {
  text-align: center !important; }

.margbot-small {
  margin-bottom: 2rem !important; }

.margbot-med {
  margin-bottom: 4rem !important; }

.margbot-big {
  margin-bottom: 2rem !important; }

.margtop-big {
  margin-top: 2rem !important; }

.nav {
  padding: 10px;
  width: 100%;
  font-size: 2rem !important;
  color: #fff;
  position: relative;
  text-align: left; }
  @media only screen and (max-width: 56.25em) {
    .nav {
      font-size: 3.5rem !important; } }
  @media only screen and (max-width: 51.875em) and (orientation: landscape) {
    .nav {
      margin-left: 12%; } }
  @media only screen and (max-width: 37.5em) {
    .nav {
      margin-left: 5%; } }

.row {
  max-width: 119rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  @media only screen and (min-width: 160em) {
    .row {
      max-width: 130rem; } }
  @media only screen and (min-width: 112.5em) {
    .row {
      max-width: 130rem;
      padding: 0 3rem; } }
  @media only screen and (min-width: 90em) {
    .row {
      max-width: 145rem; } }
  @media only screen and (max-width: 56.25em) and (orientation: landscape) {
    .row {
      max-width: 120rem; } }
  @media only screen and (max-width: 87em) {
    .row {
      max-width: 130rem; } }
  @media only screen and (max-width: 66em) {
    .row {
      max-width: 100rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 90rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        margin-right: 0;
        margin-bottom: 6rem;
        width: 100% !important; } }
  .row .col-50 {
    width: calc((100% - 6rem) / 2); }
  .row .col-33 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-66 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-25 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-75 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 37.5em;
  position: fixed;
  overflow: auto;
  background-image: linear-gradient(to right bottom, rgba(85, 190, 255, 0.8), rgba(4, 16, 182, 0.8)), url("../img/circuit.jpg");
  background-size: cover;
  background-position: top;
  z-index: 999; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(85, 190, 255, 0.8), rgba(4, 16, 182, 0.8)), url("../img/circuit.jpg"); } }
  @media only screen and (min-width: 90em) {
    .header {
      height: 100%; } }
  @media only screen and (max-width: 87em) {
    .header {
      height: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      position: fixed;
      width: 100%;
      height: auto; } }
  @media only screen and (max-width: 51.875em) and (orientation: landscape) {
    .header {
      position: fixed;
      width: 37.5em;
      height: 100%; } }
  .header-text-box {
    text-align: center;
    padding: 3.5rem; }
  .header_nav {
    margin-top: 4vh;
    display: block;
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .header_nav {
        width: 100%;
        display: none; } }
    .header_nav_mob {
      display: inline-block;
      list-style: none;
      /* @include respond(tabl) {
          display: none;
      }*/ }
      .header_nav_mob li {
        float: left;
        font-size: 1.2em; }
        @media only screen and (max-width: 56.25em) {
          .header_nav_mob li {
            margin-left: 2em;
            padding-right: 0.5em; } }
        @media only screen and (max-width: 51.875em) and (orientation: landscape) {
          .header_nav_mob li {
            margin-left: 0em;
            padding-right: 1em; } }
        @media only screen and (max-width: 37.5em) {
          .header_nav_mob li {
            margin-left: 1em;
            padding-right: 0.5em; } }
      @media only screen and (max-width: 87em) {
        .header_nav_mob {
          display: none; } }
      @media only screen and (max-width: 56.25em) {
        .header_nav_mob {
          display: inline-block; } }
  .header_item {
    display: block; }
    .header_item:not(:last-child) {
      margin-bottom: 1.5rem; }
  .header_link:link, .header_link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: block; }

.aboutme {
  padding: 25rem 0;
  position: relative;
  z-index: 8;
  padding: 5rem;
  background-image: url("https://images.unsplash.com/photo-1445251045505-59e1ff1e3127?auto=format&fit=crop&w=1431&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-attachment: fixed;
  background-size: cover; }
  @media only screen and (min-width: 90em) {
    .aboutme {
      height: 185vh; } }
  @media only screen and (min-width: 112.5em) {
    .aboutme {
      height: 180vh; } }
  @media only screen and (min-width: 160em) {
    .aboutme {
      height: 245vh; } }
  @media only screen and (max-width: 87em) {
    .aboutme {
      height: 100vh; } }
  @media only screen and (max-width: 66em) {
    .aboutme {
      padding: 30rem 0; } }
  @media only screen and (max-width: 56.25em) and (orientation: landscape) {
    .aboutme {
      padding: 40rem 0;
      height: 350vh;
      margin-top: -30vh; } }
  @media only screen and (max-width: 56.25em) {
    .aboutme {
      margin-top: 0;
      padding: 10rem 0; } }
  @media only screen and (max-width: 37.5em) {
    .aboutme {
      margin-top: -16vh;
      padding: 20rem 0; } }
  .aboutme-text {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6); }
    @media only screen and (max-width: 37.5em) {
      .aboutme-text {
        font-size: 4.8em; } }
  .aboutme-img__comp {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%; }
    @media only screen and (min-width: 112.5em) {
      .aboutme-img__comp {
        width: 35%;
        margin-left: 30vw; } }
    @media only screen and (min-width: 160em) {
      .aboutme-img__comp {
        margin-left: 25vw; } }
    @media only screen and (max-width: 66em) {
      .aboutme-img__comp {
        margin-top: 7vh; } }
    @media only screen and (max-width: 56.25em) and (orientation: landscape) {
      .aboutme-img__comp {
        margin-left: 30%; } }
    @media only screen and (max-width: 56.25em) {
      .aboutme-img__comp {
        width: 40vw;
        margin-top: 0;
        display: block;
        margin-left: 27%; } }
    @media only screen and (max-width: 51.875em) and (orientation: landscape) {
      .aboutme-img__comp {
        width: 28vw;
        margin-top: -40vh;
        display: block;
        margin-left: 10%; } }

@media only screen and (min-width: 112.5em) {
  p.aboutme-text {
    max-width: 133rem; } }

@media only screen and (min-width: 160em) {
  p.aboutme-text {
    max-width: 175rem; } }

.skills {
  padding: 15rem 7rem;
  background-image: linear-gradient(to right bottom, rgba(85, 190, 255, 0.8), rgba(4, 16, 182, 0.8));
  position: relative;
  background-size: cover;
  background-position: top; }
  @media only screen and (max-width: 66em) {
    .skills {
      padding: 20rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .skills {
      padding: 30rem 0;
      margin-top: 5vh; } }
  @media only screen and (max-width: 37.5em) {
    .skills {
      padding: 30rem 0;
      margin-top: -20vh; } }
  .skills-box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    @media only screen and (max-width: 56.25em) {
      .skills-box {
        padding: 3rem;
        width: 65%;
        margin-left: auto;
        margin-right: auto; } }
    @media only screen and (max-width: 56.25em) and (orientation: landscape) {
      .skills-box {
        width: 100%; } }
  .skills .grad {
    font-size: 6rem;
    background-image: linear-gradient(to right bottom, rgba(85, 190, 255, 0.8), rgba(4, 16, 182, 0.8));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @media only screen and (min-width: 160em) {
      .skills .grad {
        font-size: 9rem; } }
    @media only screen and (max-width: 56.25em) {
      .skills .grad {
        font-size: 10rem; } }

.projects {
  padding: 5rem 7rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) and (orientation: landscape) {
    .projects {
      height: 400vh; } }
  @media only screen and (max-width: 66em) {
    .projects {
      padding: 20rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .projects {
      padding: 10rem 0;
      margin-top: 15vh; } }
  @media only screen and (max-width: 37.5em) {
    .projects {
      padding: 7rem 0; } }
  .projects-h3 {
    font-size: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .projects-h3 {
        font-size: 4rem; } }
  .projects .popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      .projects .popup {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.3); } }
    .projects .popup__content {
      padding: 0 15rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      background-color: #fff;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      display: table;
      overflow: hidden;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      transition: all .5s .2s; }
      @media only screen and (max-width: 56.25em) and (orientation: landscape) {
        .projects .popup__content {
          padding: 0 15rem; } }
      @media only screen and (max-width: 56.25em) {
        .projects .popup__content {
          padding: 0 5rem; } }
      @media only screen and (max-width: 37.5em) {
        .projects .popup__content {
          padding: 0 3rem; } }
    .projects .popup__close:link, .projects .popup__close:visited {
      color: #777;
      position: absolute;
      top: 2.5rem;
      right: 5.5rem;
      font-size: 6rem;
      text-decoration: none;
      display: inline-block;
      transition: all .2s;
      line-height: 1; }
      @media only screen and (max-width: 87em) {
        .projects .popup__close:link, .projects .popup__close:visited {
          font-size: 7rem;
          right: 6.5rem; } }
      @media only screen and (max-width: 37.5em) {
        .projects .popup__close:link, .projects .popup__close:visited {
          font-size: 4rem;
          right: 3.5rem; } }
    .projects .popup__close:hover {
      color: #2B63A9; }
    @media only screen and (min-width: 160em) {
      .projects .popup .p-cen {
        margin-left: 24vw; } }
    @media only screen and (max-width: 56.25em) and (orientation: landscape) {
      .projects .popup .p-cen {
        margin-left: 45vw; } }
    @media only screen and (min-width: 90em) {
      .projects .popup .p-cen {
        margin-left: 20vw; } }
    @media only screen and (max-width: 87em) {
      .projects .popup .p-cen {
        margin-left: 20vw; } }
    @media only screen and (min-width: 160em) {
      .projects .popup .p-cen-gac {
        margin-left: 24vw; } }
    @media only screen and (min-width: 90em) {
      .projects .popup .p-cen-gac {
        margin-left: 14vw; } }
    @media only screen and (max-width: 87em) {
      .projects .popup .p-cen-gac {
        margin-left: 14vw; } }
    @media only screen and (max-width: 37.5em) {
      .projects .popup .p-cen-gac {
        margin-left: 9vw; } }
    .projects .popup__left {
      width: 33.333333%;
      display: table-cell; }
    .projects .popup__right {
      width: 66.6666667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem; }
    .projects .popup__img {
      display: block;
      width: 100%; }
    .projects .popup__text {
      font-size: 2rem;
      margin-bottom: 4rem;
      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid #eee;
      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid #eee;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto; }
    .projects .popup__caps {
      font-size: 1.4rem !important; }
    .projects .popup:target {
      opacity: 1;
      visibility: visible; }
    .projects .popup:target .projects .popup:__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.5); }
  .projects .wrap {
    margin: 50px auto 0 auto;
    width: 100%;
    display: flex;
    align-content: space-around;
    max-width: 1200px; }
  .projects .tile {
    width: 368px;
    height: 368px;
    margin: 10px;
    background-color: #777;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white; }
    @media only screen and (min-width: 160em) {
      .projects .tile {
        width: 1200px;
        height: 800px; } }
    @media only screen and (min-width: 112.5em) {
      .projects .tile {
        width: 1080px;
        height: 628px; } }
    @media only screen and (max-width: 87em) {
      .projects .tile {
        width: 1080px; } }
    @media only screen and (max-width: 66em) {
      .projects .tile {
        width: 100vw;
        height: 30vh; } }
    @media only screen and (max-width: 56.25em) {
      .projects .tile {
        width: 100vw;
        height: 50vh; } }
    @media only screen and (max-width: 56.25em) and (orientation: landscape) {
      .projects .tile {
        width: 100vw;
        height: 125vh; } }
  .projects .tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out; }
  .projects .tile .text {
    /*   z-index:99; */
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px); }
  .projects .tile h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }
  .projects .tile h2 {
    font-size: 18px;
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px); }
  .projects .tile p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s; }
  .projects .animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out; }
  .projects .tile:hover {
    /*   background-color:#99aeff; */
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05); }
  .projects .tile:hover img {
    opacity: 0.2; }
  .projects .tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1; }
  .projects .tile:hover span {
    opacity: 1;
    transform: translateY(0px); }
  .projects .h1-pro {
    font-size: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .projects .h1-pro {
        font-size: 5rem; } }
  .projects .pro-img {
    max-width: 900px;
    height: 506.25px; }
    @media only screen and (min-width: 160em) {
      .projects .pro-img {
        width: 1200px;
        height: 800px; } }
    @media only screen and (min-width: 112.5em) {
      .projects .pro-img {
        width: 1080px;
        height: 628px; } }
    @media only screen and (max-width: 87em) {
      .projects .pro-img {
        width: 1080px; } }
    @media only screen and (max-width: 66em) {
      .projects .pro-img {
        width: 100vw;
        height: 30vh; } }
    @media only screen and (max-width: 56.25em) {
      .projects .pro-img {
        width: 100vw;
        height: 50vh; } }
    @media only screen and (max-width: 56.25em) and (orientation: landscape) {
      .projects .pro-img {
        width: 100vw;
        height: 125vh; } }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 2rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      font-size: 3rem;
      padding: 8rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .footer-logo {
      margin-bottom: 6rem; } }
  @media only screen and (min-width: 160em) {
    .footer_logo_c {
      width: 15%; } }
  .footer_nav {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block;
    list-style: none; }
    @media only screen and (max-width: 56.25em) {
      .footer_nav {
        width: 100%;
        text-align: center; } }
  .footer_item {
    display: inline-block; }
    .footer_item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer_link:link, .footer_link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer_link:hover, .footer_link:active {
    color: #2B63A9;
    box-shadow: 0 1rem 2rem #000, 0.4; }
  .footer_copyright {
    font-size: 2rem;
    border-top: 1px solid #777;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer_copyright {
        width: 100%;
        float: none; } }
