.header {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0; 

    width: 37.5em;
    position: fixed;
    overflow: auto; //Udpate
    background-image: linear-gradient(to right bottom,
    rgba($blue-light, 0.8),
    rgba($blue-dark, 0.8)),
    url("../img/circuit.jpg");
   
  background-size: cover;
  background-position: top;
 z-index: 999;

@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
only screen and (min-width: 125em) {
background-image: linear-gradient(
to right bottom,
rgba($blue-light, 0.8),
rgba($blue-dark, 0.8)),
url("../img/circuit.jpg");

}




//NEW
@include respond(lapt) {
   height: 100%; //240vh
}

//NEW
@include respond(tabl) {
    height: 100%;
}



//new
@include respond(tabp) { //same with phone
   position: fixed;
   width: 100%;
   height: auto;
}

@include respond(tabpscape) {
  //  height: 260vh;
  }

  @include respond(phonel) { //same with phone
    position: fixed;
    width: 37.5em;
    height: 100%;
 }


  &-text-box {

      text-align: center;
      padding: 3.5rem;

    }

    &_nav {
    margin-top: 4vh;
  
      display: block;
      list-style: none;
     
    @include respond(tabp) {
          width: 100%;
         display: none; 
      }


      &_mob {
      display: inline-block; //only show mobile devices
        list-style: none;
        & li {
          float: left;
          font-size: 1.2em;
          @include respond(tabp) {
            margin-left: 2em;
            padding-right: 0.5em;
        }

        @include respond(phonel) {
          margin-left: 0em;
          padding-right: 1em;
          
        
      }

      @include respond(phone) {
            margin-left: 1em;
            padding-right: 0.5em;
            
            
        }     
        }
      @include respond(tabl) {
            display: none;
        }
      @include respond(tabp) {
        display: inline-block;
    }
    /* @include respond(tabl) {
          display: none;
      }*/

   
    

  }
  }

  &_item {
      display: block;
    
      &:not(:last-child) {
        //  margin-right: 1.5rem;
        margin-bottom: 1.5rem;
      }
  }

  &_link {
      &:link, &:visited {
          color: $gray-light-1;
          text-decoration: none;
          text-transform: uppercase;
          display: block;

      }

  }
 
}
