.projects {
  padding: 25rem 0;
  position: relative;
  
  @include respond(tabpscape) {
    height: 400vh;
  }

  @include respond(tabp-lg) {
    padding: 20rem 0;
  }

  @include respond(tabp) {
    height: 1%;
    padding: 10rem 0;
    margin-top: 15vh;
  }

  &-h3 {
    font-size: 5rem;

    @include respond(tabp) {
      font-size: 4rem;
    }
  }

  //POPUP
  .popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba($black, 0.3);
    }

    &__content {
      padding: 0 15rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      background-color: $white;
      box-shadow: 0 2rem 4rem rgba($black, 0.2);
      border-radius: 3px;
      display: table;
      overflow: hidden;
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.5s 0.2s;

      @include respond(tabpscape) {
        padding: 0 15rem;
      }

      @include respond(tabp) {
        padding: 0 5rem;
      }

      @include respond(phone) {
        padding: 0 3rem;
      }
    }

    &__close {
      &:link,
      &:visited {
        color: $gray-dark;
        position: absolute;
        top: 2.5rem;
        right: 5.5rem;
        font-size: 6rem;
        text-decoration: none;
        display: inline-block;
        transition: all 0.2s;
        line-height: 1;

        @include respond(tabl) {
          font-size: 7rem;
          right: 6.5rem;
        }

        @include respond(phone) {
          font-size: 4rem;
          right: 3.5rem;
        }
      }

      &:hover {
        color: $red-prim;
      }
    }

    .p-cen {
      @include respond(desk4k) {
        margin-left: 24vw;
      }
      @include respond(tabpscape) {
        margin-left: 45vw;
      }

      @include respond(lapt) {
        margin-left: 20vw;
      }

      @include respond(tabl) {
        margin-left: 20vw;
      }

      &-gac {
        @include respond(desk4k) {
          margin-left: 24vw;
        }

        @include respond(lapt) {
          margin-left: 14vw;
        }
        @include respond(tabl) {
          margin-left: 14vw;
        }
        @include respond(phone) {
          margin-left: 9vw;
        }
      }
    }

    &__left {
      width: 33.333333%;
      display: table-cell;
    }

    &__right {
      width: 66.6666667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem;
    }

    &__img {
      display: block;
      width: 100%;
    }

    &__text {
      font-size: 2rem;
      margin-bottom: 4rem;

      //TWO COLUMN-TEXT
      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid $gray-light-2;
      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid $gray-light-2; //Creates a border in between two columns
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }

    &__caps {
      font-size: 1.4rem !important;
    }

    //Open states
    &:target {
      opacity: 1;
      visibility: visible;
    }

    &:target &:__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(0.5);
    }
  }

  //Card
  .wrap {
    margin: 50px auto 0 auto;
    width: 100%;
    display: flex;
    align-content: space-around;
    max-width: 1200px;
  }

  .tile {
    width: 368px;
    height: 368px;
    margin: 10px;
    background-color: $gray-dark;
    display: inline-block;
    background-size: cover;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
    overflow: hidden;
    color: white;

    @include respond(desk4k) {
      width: 1200px;
      height: 800px;
    }

    @include respond(desk) {
      width: 1080px;
      height: 628px;
    }

    @include respond(tabl) {
      width: 1080px;
    }

    @include respond(tabp-lg) {
      width: 100vw;
      height: 30vh;
    }

    @include respond(tabp) {
      width: 100vw;
      height: 50vh;
    }

    @include respond(tabpscape) {
      width: 100vw;
      height: 125vh;
    }
  }

  .tile img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.4s ease-out;
  }

  .tile .text {
    position: absolute;
    padding: 30px;
    height: calc(100% - 60px);
  }

  .tile h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .tile h2 {
    font-size: 18px;
    font-weight: 100;
    margin: 20px 0 0 0;
    font-style: italic;
    transform: translateX(200px);
  }

  .tile p {
    font-weight: 300;
    margin: 20px 0 0 0;
    line-height: 25px;
    /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
  }

  .animate-text {
    opacity: 0;
    transition: all 0.6s ease-in-out;
  }

  .tile:hover {
    box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
    transform: scale(1.05);
  }

  .tile:hover img {
    opacity: 0.2;
  }

  .tile:hover .animate-text {
    transform: translateX(0);
    opacity: 1;
  }

  .tile:hover span {
    opacity: 1;
    transform: translateY(0px);
  }

  .h1-pro {
    font-size: 2rem;

    @include respond(tabp) {
      font-size: 5rem;
    }
  }
}
